{% extends 'main.twig' %}

{% block layout %}
	<!DOCTYPE html>
	<html lang="ru">
		<head>
			<meta charset="UTF-8">
			<title>Сборка</title>
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<meta name="HandheldFriendly" content="True">
			<meta name="format-detection" content="telephone=no">
			<link rel="stylesheet" href="css/style.css">
			<link rel="preload" href="fonts/roboto.woff2" as="font" crossorigin="anonymous">
			<link rel="preload" href="fonts/roboto-bold.woff2" as="font" crossorigin="anonymous">
			{% if IS_DEV %}
				<link rel="stylesheet" href="css/dev.css">
			{% endif %}
		</head>
		<body class="page">
			<header class="page__header"></header>
			<main class="page__main">
				{% block main %}
					<h1>Страница в разработке</h1>
				{% endblock %}
			</main>
			<footer class="page__footer">&copy; pineglade</footer>
			<script src="js/script.js"></script>
			{% if IS_DEV %}
				<script src="js/dev.js"></script>
			{% endif %}
		</body>
	</html>
{% endblock %}
